<!DOCTYPE html>
<html lang="en">
    
   <head>
      <title>One Step || Administrativo</title>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="../public/css/bootstrap.css" />
      <link rel="stylesheet" href="../public/css/bootstrap-responsive.css" />
      <link rel="stylesheet" href="../public/css/matrix-login.css" />
      <link rel="stylesheet" href="../public/css/font-awesome.css" />
      <link rel="stylesheet" href="../public/css/AdminLTE.css">

   </head>
    <body>
      <div id="loginbox">
         <div class="col-md-10">         
            <div class="control-group normal_text"> <h3><img src="../public/img/logo.png" alt="Logo" /></h3></div>
            <div class="col-xs-12"></div><!-- /.col -->
               <button type="button" id="btnModalLogin" class="btn btn-primary btn-block btn-flat">Ingresar</button>
         </div>
      </div>     
         <div class="modal fade" id="ModalLogin" role="dialog">
            <div class="modal-dialog" style="width:25%">
              <div class="modal-content" style="border-radius: 5px;">
               <div class="modal-header">
                  <h4 class="modal-title"><p>Ingrese su Datos de Acceso</p></p></h4>
               </div>
               <div class="panel-body">
               <form id="frmAcceso" class="form-vertical" method="POST">
                  <fieldset>
                        <div class="form-group">
                           <div class="input-group">
                              <input type="text" id="cod_usuario" name="cod_usuario" class="form-control" placeholder="Usuario">
                              <div class="input-group-addon"><span class="fa fa-user text-blue"></span></div>  
                           </div>
                        </div>
                        <div class="form-group">
                           <div class="input-group">
                           <input type="password" id="clave" name="clave" class="form-control" placeholder="Password">
                           <div class="input-group-addon"><span class="fa fa-lock text-fuchsia"></span></div>  
                           </div>
                        </div>
                        <div class="form-group col-md-12 hidden">
                        </div>
                        <div class="form-group col-md-5">
                           <button type="submit" class="btn btn-primary form-control">Iniciar</button>      
                        </div>
                        <div class="form-group col-md-2">
                        </div>
                        <div class="form-group col-md-5">
                           <button type="button" id="btnCancelar" class="btn btn-danger form-control" data-dismiss="modal"> Cancelar</button>
                        </div>
                  </fieldset>
               </form>
               </div>           
              </div>
            </div>
          </div>     
   <script src="../public/js/jquery.js"></script>
   <script src="../public/js/bootstrap.js"></script>
   <script src="../public/js/matrix.login.js"></script>
   <script src="../public/js/jquery-ui.js"></script>
   <script src="../public/js/bootbox.js"></script>
   <script src="../view/scripts/login.js"></script>



   
    </body>

</html>